﻿<div class="workspace">
    <div class="row">
        <div class="desktop-8 sortaTab">
            Audit Events
        </div>
    </div>
    <div class="row">
        <div class="desktop-16 sortaTabContainer">
            <div class="funcContainer">
                <form class="horiz">
                    <label for="user" title="User">User:</label>
                    <input name="user" type="text" ng-model="filters.User" />
                    <button class="btn" ng-click="auditLogSearch()">search</button>
                    <span ng-show="isSearching">Searching...</span>
                    <span class="right">
                        <label for="advancedSearch" title="Advanced Search">Advanced Search:</label>
                        <input name="advancedSearch" type="checkbox" ng-model="advancedSearch" />
                    </span>
                    <div class="box" ng-show="advancedSearch" ng-animate="'box'">
                        <label for="eventType" title="Event Type">Event Type:</label>
                        <input name="eventType" type="text" ng-model="filters.EventType" />
                        <label for="eventName" title="Entity Name">Entity Name:</label>
                        <input name="eventName" type="text" ng-model="filters.EntityName" />
                    </div>
                </form>
            </div>
        </div>
        <div class="tabularWrapper fullPage">
            <table class="results">
                <thead>
                    <tr>
                        <th class="twidth2">Event</th>
                        <th class="twidth1">User</th>
                        <th class="twidth1">Item Type</th>
                        <th class="twidthall">Occured</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="evt in searchResult.AuditLogEntries">
                        <td class="twidth2"><a href="#" ng-click="click('link')">{{evt.EventType}}</a></td>
                        <td class="twidth1">{{evt.UserName}}</td>
                        <td class="twidth1">{{evt.EntityName}}</td>
                        <td class="twidthall">{{evt.LastModified}}</td>
                    </tr>
                </tbody>
            </table>
            <!--<div ng-show="searchResult.TotalResultCount > 0">
                Total Results: {{searchResult.TotalResultCount}}
            </div>-->
            <!--<div ng-show="searchResult.TotalResultCount > 0">
                Page {{filters.PageNum + 1}} of {{totalPageCount()}} 
            </div>-->
            <div class='paginate' paginate-pages='{{totalPageCount()}}' current-page="filters.PageNum"></div>
        </div>
    </div>
</div>
