﻿<div id="dashboardsContainer" ng-cloak>
    <div id="views">
        <div class="view">
            <ul id="dashboards">
                <li class="dashboardLink" ng-repeat="view in userDashboard.Views">
                    <editable bindto="view.DashboardName" commitfn="dashboardNameUpdated" ng-click="viewDashboard($index)" />
                </li>
            </ul>
            <div class="pcMenu">
                <span ng-click="snapOffline()">[snap]</span>
                <span ng-click="toggleOffline()">[{{offlineState}}]</span>
            </div>
        </div>
    </div>

    <!-- Placeholder for the edit modal -->
    <!--<div class="settings open">...</div>-->

    <div id="outer" class="row">
        <div class="desktop-8 pcOuter" ng-repeat="currentPageComp in currentView.PageComponents">
            <div ng-include src="'partials/pageComponent.html'"></div>
        </div>
    </div>
</div>
