﻿<!-- render dataset in tabular format -->
<div ng-controller="PageComponentController" ng-init="init()"
    id="{{currentPageComp.DataviewId}}'">

    <div>
        <div class="sortaTab">
            <span>{{currentPageComp.TabTitle}}</span>
            <span class="pcMenu">
                <span>cal</span>
                <span ng-click="asyncLoadPageComponent()">r</span>|
                <span ng-click="openFilterDlg()">f</span>|
                <span ng-click="openSettingsDlg()">s</span>|
                <span ng-click="showMethod()">+</span>
            </span>
        </div>
    </div>

    <div>
        <div class="sortaTabContainer">
            <div class="tabularMenu close">xx</div>
            <div class="tabularWrapper">
                <table class="results">
                    <thead>
                        <tr>
                            <td ng-repeat="fieldName in settings.DisplayFields">
                                <div data-i18n="{{uniqueFieldIdentifier(currentPageComp, fieldName.FieldDescriptorName)}}!{{fieldName.DisplayField}}"></div>
                            </td>                            
                        </tr>
                    </thead>
                    <tbody id="t_{{DataviewId}}">
                        <tr ng-repeat="item in Data">
                            <td ng-repeat="field in item.Fields" ng-click="rowSelected(item.Id)"><span class="clickable" ng-dblclick="openRecordEditDlg($parent)">{{field.Value}}</span></td>                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
