﻿<div class="workspace">
    <div class="row">
        <div class="desktop-8 sortaTab" data-i18n="pgtitle_schema">
            Schema
        </div>
    </div>
    <div class="row">
        <div class="desktop-16 sortaTabContainer">
            <div class="funcContainer">
                <typeahead class="typeahead" label="Schema" items="items" term="term" search="schemaSearch(term)" select="getSchema(item)">
                    <ul>
                        <li ng-repeat="item in items" typeahead-item="item" class="results">{{item}}</li>
                    </ul>
                </typeahead>
            </div>
        </div>
    </div>

    <div ng-cloak class="row margin-T20" id="admContainer" ng-show="isEditingSchema">
        <div class="desktop-6">
            <div class="sortaTab" data-i18n="title_schemadetails">
                Details
            </div>
            <div class="sortaTabContainer clear">
                <div>
                    <div class="funcContainer">
                        <form id="schemaEditForm">
                            <table class="marginBottom20">
                                <tbody>
                                    <tr>
                                        <td>
                                            <label for="itemTypeName" data-i18n="label_itemtypename">Name:</label></td>
                                        <td>
                                            <input name="itemTypeName" type="text" ng-model="model.Name" value="{{model.Name}}" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <button class="btn btn-primary btn-mini" id="Button1" ng-click="save()">Ok</button>
                                            <button class="btn btn-mini" id="Button2" ng-click="reset()">Cancel</button>
                                            <button class="btn btn-info btn-mini" id="Button3" ng-click="addField()">Add Field</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>

                <div class="tabularWrapper fullPage">
                    <table class="results">
                        <thead>
                            <tr>
                                <th class="twidth2">Field Name</th>
                                <th class="twidth2">Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fieldDescriptor in model.FieldDescriptors" ng-click="selectField(fieldDescriptor)">
                                <td>{{fieldDescriptor.Name}}</td>
                                <td>{{fieldDescriptor.FriendlyType}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="desktop-10">
            <div ng-show="isEditingFields" class="panelB">
                <label for="fieldType" data-i18n="label_fldtype"></label>
                <select name="fieldType" ng-model="currentFieldDescriptor.FriendlyType" ng-options="type.FriendlyTypeName as type.FriendlyTypeName for type in fieldTypes">
                </select>
            </div>
        </div>
    </div>
</div>
