﻿<span ng-controller="DateController">
    <div>
        <label for="min" data-i18n="label_schemadatemin"></label>
        <input type="text" name="min" ng-model="options.mindate" />
    </div>
    <div>
        <label for="max" data-i18n="label_schemadatemax"></label>
        <input type="text" name="max" ng-model="options.maxdate" />
    </div>
    <div>
        <label for="default" data-i18n="label_schemadatedef"></label>
        <input type="text" name="default" ng-model="options.default" />
    </div>
</span>