﻿<div ng-controller="EnumerationFldController">
    <label for="Enum" data-i18n="label_enumtypeselect"></label>

    <typeahead class="typeahead" label="Enum" items="enums" term="term" search="enumSearch(term)" select="getEnum(item)">
        <ul>
            <li ng-repeat="enum in enums" typeahead-item="enum" class="results">{{enum.Name}}</li>
        </ul>
    </typeahead>

</div>
