﻿<span ng-controller="StringController">
    <div>
        <label for="min" data-i18n="label_intdatemin"></label>
        <input type="text" name="min" ng-model="options.min" />
    </div>
    <div>
        <label for="max" data-i18n="label_intdatemax"></label>
        <input type="text" name="max" ng-model="options.max" />
    </div>
</span