﻿<div ng-controller="OneToManyEditor">
    <label for="schema" data-i18n="label_schematypeselect"></label>
    <select name="schema" 
        ng-disabled="isEditingFields==2" 
        ng-model="currentFieldDescriptor.RelatedRecordDescriptorId" 
        ng-options="type.Id as type.Name for type in availableSchema"></select>
</div>