﻿<span ng-controller="StringController">
    <div>
        <label for="min" data-i18n="label_stringdatemin"></label>
        <input type="text" name="min" ng-model="options.minlength" />
    </div>
    <div>
        <label for="max" data-i18n="label_stringdatemax"></label>
        <input type="text" name="max" ng-model="options.maxlength" />
    </div>
</span