﻿@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SoftModel</title>
    <link href="/style/site.css" rel="stylesheet" media="screen" />
    <link href="/style/toastr.css" rel="stylesheet" media="screen" />
    <link href="/style/gridlock-16.css" rel="stylesheet" media="screen" />
    <link href="/style/font-awesome.min.css" rel="stylesheet" media="screen" />
    @*<link href="/scripts/codemirror-3.12/theme/monokai.css" rel="stylesheet" />
    <link href="/scripts/codemirror-3.12/lib/codemirror.css" rel="stylesheet" />*@
    <link media="all" type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,900" />
</head>
<body ng-app="SoftModel" class="gridlock">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="header">
        <div id="topLine">
            <div id="logo">SoftModel</div>
        </div>
        <div id="navContainer">
            <div class="navigation">
                <ul>
                    <li><a class="current" href="#">Dashboard</a></li>
                    <li><a href="#/adm/schema" ng-disabled="isOffline()">Schema</a></li>
                    <li><a href="#/adm/survey" ng-disabled="isOffline()">Survey</a></li>
                    <li><a href="#/adm/audit" ng-disabled="isOffline()">Audit</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="container" ng-view>
    </div>

    <script src="/scripts/modernizr-2.6.2.js"></script>
    <script src="/scripts/jquery/jquery-2.0.1.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/scripts/angular-dropdowns.min.js"></script>
    <script src="/scripts/toastr.min.js"></script>
@*  <script src="/scripts/codemirror-3.12/lib/codemirror.js"></script>
    <script src="/scripts/codemirror-3.12/mode/javascript/javascript.js"></script>*@
    <script src="/scripts/underscore.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery/jquery.signalR-1.1.1.js"></script>
    <script type="text/javascript" src="/signalr/hubs"></script>

    <!-- MVC -->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/common.js"></script>
    <script type="text/javascript" src="/scripts/services/restServices.js"></script>
    <script type="text/javascript" src="/scripts/services/tokenHandler.js"></script>
    <script type="text/javascript" src="/scripts/services/pubsubService.js"></script>
    <script type="text/javascript" src="/scripts/services/localize.js"></script>
    <script type="text/javascript" src="/scripts/services/authService.js"></script>
    <script type="text/javascript" src="/scripts/services/notificationService.js"></script>
    <script type="text/javascript" src="/scripts/services/dialogService.js"></script>
    <script type="text/javascript" src="/scripts/services/offlineDatasource.js"></script>
    <script type="text/javascript" src="/scripts/services/dataService.js"></script>
    <script type="text/javascript" src="/scripts/services/localStorageService.js"></script>
    <script type="text/javascript" src="/scripts/services/schemaConversion.js"></script>
    <script type="text/javascript" src="/scripts/directives.js"></script>
    <script type="text/javascript" src="/scripts/controllers/schemaCtrl.js"></script>
    <script type="text/javascript" src="/scripts/controllers/surveyCtrl.js"></script>
    <script type="text/javascript" src="/scripts/controllers/dialogCtrl.js"></script>
    <script type="text/javascript" src="/scripts/controllers/dashboardCtrl.js"></script>
    <script type="text/javascript" src="/scripts/controllers/loginCtrl.js"></script>
    <script type="text/javascript" src="/scripts/controllers/auditCtrl.js"></script>
    <script type="text/javascript" src="/scripts/controllers/pageComponentCtrl.js"></script>
</body>
</html>
