<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="app"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ProtoUI</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/gridlock-16.css">
    <link rel="stylesheet" href="css/site.css">
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/underscore.min.js"></script>
    <link media="all" type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,900"></link>
</head>
<body class="gridlock" ng-controller="testCtrl">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="header">
        <div id="topLine">
            <div id="logo">SoftModel</div>
            <div id="status">
                status: online
            </div>
        </div>
        <div id="navContainer">
            <div class="navigation">
                <ul>
                    <li><a class="current" href="#">Dashboard</a></li>
                    <li><a href="#">Schema</a></li>
                    <li><a href="#">Audit</a></li>
                </ul>
            </div>
        </div>
        <div id="views">
            <div class="view">Risks</div>
        </div>
    </div>

    <div class="formEditor">
    	<formeditor layout='formdef' changeTrack='{{changeId}}'></formeditor>
    	<div class="menu">
    		<span class="sortaBtn" ng-click="addRow()">[+]</span>
    	</div>
	</div>

<div>{{formdef}}</div>
    <script type="text/javascript">
    var app = angular.module("app",[]);
    app.controller('testCtrl', ['$scope', '$log', function ($scope, log) {
    	$scope.changeId = 0;
    	
       	// abstract representation of a layout
       	$scope.formdef = {layout: 
       		{ rows:[
	       		{cols:
	       			[
	       				{id: "0", class:"one"}
	       			]
	       		}
	       	]}
	    };

	    $scope.addRow = function() {
	    	$scope.$broadcast("addRow","");
	    };
    }]);

    app.directive("formeditor", ['$timeout', '$log', function(timer, log) {
    	 return {
	        restrict: 'E',
	        transclude: false,
	        replace: false,
	        template: '<div id="designer" class="designer"></div>',
	        scope: {
	        	changetrack: '@',	// parent will notify of changes using simple incrementing id - cheaper for us to
	        						// watch than the layout object (using object equality)
	        	layout: '='
	        },
	        controller: function($scope, $element, $attrs, $log) {
	        	var selectedCol = 0;
				var uniqueCellId = 0;
				    	       	
		       	var uniqueId = function() {
		       		return uniqueCellId++;
		       	};

		       	var bindEvents = function(scope) {
		       		$(".col").on("click", function(event) {
						scope.selectCol(event.target);
					});
		       	};

	        	$scope.selectCol = function(target) {
	        		if (selectedCol) {
	        			selectedCol.removeClass("selectedCol");
	        		}

	        		selectedCol = $(target);
	        		selectedCol.addClass("selectedCol");
	        	};

	        	$scope.split = function() {
	        		log.info('Split');

	        		if (selectedCol) {
	        			// the col has an id. lookup id in layout
	        			var layoutCol = layoutColById($scope.layout.layout, selectedCol.id);
	        		}
	        	};

	        	$scope.$on("addRow", function() { 
	        		log.info('Add Row');

					var layout = $scope.layout.layout;
			    	var rowCount = layout.rows.length;

			    	if (rowCount) {
			    		var rowClone = angular.copy(layout.rows[rowCount-1]);
			    		layout.rows.push(rowClone);

			    		_.each(layout.rows[rowCount].cols, function(col) {
			    			col.id = uniqueId();
			    		});

			    	}
			    	else {
			    		layout.rows.push({cols: [{id: uniqueId(), class:"one"}]});
			    	}

			    	$scope.draw();
	        	});

	        	$scope.draw = function() {
	        		var des = $('#designer').html('');
		        	var colClassLookup = ['one', 'two', 'three', 'four', 'five'];
		        	var layout = $scope.layout.layout;
		        	
		        	for(i=0; i<layout.rows.length; i++)
		        	{
		        		// string concat horrid but i can't find a "jquery" way
		        		var row = '<div class="dformRow">';

		        		for(j=0; j<layout.rows[i].cols.length; j++) {
		        			var col = layout.rows[i].cols[j];
		        			row += '<div ng-click="select()" id=' + col.id + ' class="col ' + colClassLookup[layout.rows[i].cols.length-1] + '" />';
		        		}

		        		des.append(row);
		        	}

		        	bindEvents($scope);
	        	}
	        },
	        link: function(scope, element, attrs, controller) {
	        	timer(function () {
	        		scope.draw();
	            }, 250);

	            //scope.$watch('changetrack', function () { log.info('layout updated'); scope.draw(); });
	        }
    	}
    }]);
    </script>
</div>
</body>
</html>
