﻿/* ----------------------------------------------------------------------------------------------------------------------------
== ICONS STYLES
** ---------------------------------------------------------------------------------------------------------------------------- */

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    position: relative;
    z-index: 1;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0 0 0.25em;
    display: inline;
}

    li a:link,
    li a:visited {
        display: block;
        border: 0;
        padding-left: 28px;
        color: #c55500;
    }

    li a:hover,
    li a:focus,
    li a:active {
        color: #730800;
        background: transparent;
    }

    li:before,
    li:after,
    li a:before,
    li a:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
    }

    li a:before,
    li a:after {
        margin: -8px 0 0;
        background: #c55500;
    }

    li a:hover:before,
    li a:focus:before,
    li a:active:before {
        background: #730800;
    }

/* ADD
------------------------------------------------------------------------------------------------------------------------------- */

.add a:before {
    width: 16px;
    height: 16px;
    /* css3 */
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.add a:after {
    left: 3px;
    width: 10px;
    height: 2px;
    margin-top: -1px;
    background: #fff;
}

.add:before {
    z-index: 10;
    left: 7px;
    width: 2px;
    height: 10px;
    margin-top: -5px;
    background: #fff;
}

/* Alternative style */

.add-alt a:before {
    left: 6px;
    width: 5px;
    height: 15px;
    margin-top: -7px;
    background: #c55500;
}

.add-alt a:after {
    left: 1px;
    width: 15px;
    height: 5px;
    margin-top: -2px;
    background: #c55500;
}

.add-alt a:hover:after,
.add-alt a:focus:after,
.add-alt a:active:after {
    background: #730800;
}

/* REMOVE
------------------------------------------------------------------------------------------------------------------------------- */

.remove a:before {
    width: 16px;
    height: 16px;
    /* css3 */
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.remove a:after {
    left: 3px;
    width: 10px;
    height: 2px;
    margin-top: -1px;
    background: #fff;
}

/* Alternative style */

.remove-alt a:before {
    left: 1px;
    width: 15px;
    height: 5px;
    margin-top: -2px;
    background: #c55500;
}

/* DELETE
------------------------------------------------------------------------------------------------------------------------------- */

.delete a:before {
    width: 16px;
    height: 16px;
    /* css3 */
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.delete a:after {
    left: 3px;
    width: 10px;
    height: 2px;
    margin-top: -1px;
    background: #fff;
    /* css3 */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.delete:before {
    z-index: 10;
    left: 7px;
    width: 2px;
    height: 10px;
    margin-top: -5px;
    background: #fff;
    /* css3 */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Alternative style */

.delete-alt a:before,
.delete-alt a:after {
    left: 6px;
    width: 5px;
    height: 15px;
    margin-top: -7px;
    background: #c55500;
    /* css3 */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.delete-alt a:after {
    left: 1px;
    width: 15px;
    height: 5px;
    margin-top: -2px;
}

.delete-alt a:hover:after,
.delete-alt a:focus:after,
.delete-alt a:active:after {
    background: #730800;
}

/* EDIT
------------------------------------------------------------------------------------------------------------------------------- */

.edit a:before {
    left: 3px;
    width: 5px;
    height: 5px;
    margin-top: 2px;
    background: #c55500;
    -webkit-transform: skew(-10deg, -10deg);
    -moz-transform: skew(-10deg, -10deg);
    -ms-transform: skew(-10deg, -10deg);
    -o-transform: skew(-10deg, -10deg);
    transform: skew(-10deg, -10deg);
}

.edit a:after {
    left: 3px;
    width: 13px;
    height: 6px;
    border-left: 1px solid #fff;
    margin-top: -3px;
    /* css3 */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.edit a:hover:before,
.edit a:focus:before,
.edit a:active:before,
.edit a:hover:after,
.edit a:focus:after,
.edit a:active:after {
    background: #730800;
}
