/*
 * Gridlock - A CSS responsive grid system [16 column - Desktop standard]
 * @author Ben Plum
 * @version 0.2.0
 *
 * Copyright © 2013 Ben Plum <mr@benplum.com>
 * Released under the MIT License <http://www.opensource.org/licenses/mitablet-license.php>
 */
 
	/* !Reset Box-sizing */
	* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; *behavior: url(boxsizing.htc); }
	
	/* !Defaults */
	.gridlock .row { margin-left: auto; margin-right: auto; width: 960px; /* Fallback */ }
	.gridlock .row:after { clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden; }
	.gridlock .row .row { margin-left: -1.0416666666666667%; margin-right: -1.0416666666666667%; width: 102.0833333333333334%; }
	.gridlock .row [class*="desktop-"] { float: left; margin-left: 1.0416666666666667%; margin-right: 1.0416666666666667%; }
	.gridlock .row [class*="desktop-"].right { float: right; }
	.gridlock .row [class*="desktop-"].padded { margin-left: 0; margin-right: 0; padding-left: 1.0416666666666667%; padding-right: 1.0416666666666667%; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box; *behavior: none; }
	
	/* !Rows, Widest to Thinest */
    @media screen and (width: 1680px) {
        .gridlock .row { width: 1660px; }
    }
    @media screen and (width: 1366px) {
		.gridlock .row { width: 1346px; }
	}
	@media screen and (width: 1364px) {
		.gridlock .row { width: 1346px; }
	}
    @media screen and (max-width: 1280px) {
		.gridlock .row { width: 1260px; }
	}
	@media screen and (width: 1220px) {
		.gridlock .row { width: 1200px; }
	}	
	@media screen and (max-width: 980px) {
		.gridlock .row { width: 960px; }
	}
	@media screen and (max-width: 740px) {
		.gridlock .row { width: 480px; }
	}
	@media screen and (max-width: 500px) {
		.gridlock .row { width: 300px; }
	}
	
	/* !Desktop - Default, 16 column, 1220 + 960 (min 980), IE Standard */
	.gridlock .row .desktop-1  { width: 4.166666666667%; }
	.gridlock .row .desktop-2  { width: 10.416666666667%; }
	.gridlock .row .desktop-3  { width: 16.666666666667%; }
	.gridlock .row .desktop-4  { width: 22.916666666667%; }
	.gridlock .row .desktop-5  { width: 29.166666666667%; }
	.gridlock .row .desktop-6  { width: 35.416666666667%; }
	.gridlock .row .desktop-7  { width: 41.666666666667%; }
	.gridlock .row .desktop-8  { width: 47.916666666667%; }
	.gridlock .row .desktop-9  { width: 54.166666666667%; }
	.gridlock .row .desktop-10 { width: 60.416666666667%; }
	.gridlock .row .desktop-11 { width: 66.666666666667%; }
	.gridlock .row .desktop-12 { width: 72.916666666667%; }
	.gridlock .row .desktop-13 { width: 79.166666666667%; }
	.gridlock .row .desktop-14 { width: 85.416666666667%; }
	.gridlock .row .desktop-15 { width: 91.666666666667%; }
	.gridlock .row .desktop-16 { width: 97.916666666667%; }
	
	/* Push Cells */
	.gridlock .row .desktop-push-1  { margin-left: 7.291666666667%; }
	.gridlock .row .desktop-push-2  { margin-left: 13.541666666667%; }
	.gridlock .row .desktop-push-3  { margin-left: 19.791666666667%; }
	.gridlock .row .desktop-push-4  { margin-left: 26.041666666667%; }
	.gridlock .row .desktop-push-5  { margin-left: 32.29166666666667%; }
	.gridlock .row .desktop-push-6  { margin-left: 38.54166666666667%; }
	.gridlock .row .desktop-push-7  { margin-left: 44.79166666666667%; }
	.gridlock .row .desktop-push-8  { margin-left: 51.29166666666667%; }
	.gridlock .row .desktop-push-9  { margin-left: 57.29166666666667%; }
	.gridlock .row .desktop-push-10 { margin-left: 63.54166666666667%; }
	.gridlock .row .desktop-push-11 { margin-left: 69.79166666666667%; }
	.gridlock .row .desktop-push-12 { margin-left: 76.04166666666667%; }
	.gridlock .row .desktop-push-13 { margin-left: 82.29166666666667%; }
	.gridlock .row .desktop-push-14 { margin-left: 88.54166666666667%; }
	.gridlock .row .desktop-push-15 { margin-left: 94.79166666666667%; }
	
	/* Center Cells */
	.gridlock .row [class*="desktop-"].center { margin-left: auto; margin-right: auto; }
	
	/* !Generic, fractions */
	.gridlock .row .desktop-third { width: 31.25%; }
	.gridlock .row .desktop-half { width: 47.9166666666666667%; }
	.gridlock .row .desktop-full { width: 97.9166666666666667%; }
	
	.gridlock .row .desktop-push-third { margin-left: 34.375%; }
	.gridlock .row .desktop-push-half { margin-left: 51.0416666666666667%; }
	
	/* !Desktop - Max, 16 column, 1200 (min 1221) */
	@media screen and (min-width: 1221px) {
		.gridlock .row .max-1  { width: 4.166666666667%; }
		.gridlock .row .max-2  { width: 10.416666666667%; }
		.gridlock .row .max-3  { width: 16.666666666667%; }
		.gridlock .row .max-4  { width: 22.916666666667%; }
		.gridlock .row .max-5  { width: 29.166666666667%; }
		.gridlock .row .max-6  { width: 35.416666666667%; }
		.gridlock .row .max-7  { width: 41.666666666667%; }
		.gridlock .row .max-8  { width: 47.916666666667%; }
		.gridlock .row .max-9  { width: 54.166666666667%; }
		.gridlock .row .max-10 { width: 60.416666666667%; }
		.gridlock .row .max-11 { width: 66.666666666667%; }
		.gridlock .row .max-12 { width: 72.916666666667%; }
		.gridlock .row .max-13 { width: 79.166666666667%; }
		.gridlock .row .max-14 { width: 85.416666666667%; }
		.gridlock .row .max-15 { width: 91.666666666667%; }
		.gridlock .row .max-16 { width: 97.916666666667%; }
		
		/* Push Cells */
		.gridlock .row .max-push-1  { margin-left: 7.291666666667%; }
		.gridlock .row .max-push-2  { margin-left: 13.541666666667%; }
		.gridlock .row .max-push-3  { margin-left: 19.791666666667%; }
		.gridlock .row .max-push-4  { margin-left: 26.041666666667%; }
		.gridlock .row .max-push-5  { margin-left: 32.29166666666667%; }
		.gridlock .row .max-push-6  { margin-left: 38.54166666666667%; }
		.gridlock .row .max-push-7  { margin-left: 44.79166666666667%; }
		.gridlock .row .max-push-8  { margin-left: 51.29166666666667%; }
		.gridlock .row .max-push-9  { margin-left: 57.29166666666667%; }
		.gridlock .row .max-push-10 { margin-left: 63.54166666666667%; }
		.gridlock .row .max-push-11 { margin-left: 69.79166666666667%; }
		.gridlock .row .max-push-12 { margin-left: 76.04166666666667%; }
		.gridlock .row .max-push-13 { margin-left: 82.29166666666667%; }
		.gridlock .row .max-push-14 { margin-left: 88.54166666666667%; }
		.gridlock .row .max-push-15 { margin-left: 94.79166666666667%; }
	}
	
	/* !Tablet, 6 column, 720 (min 739) */
	@media screen and (min-width: 739px) and (max-width: 980px) {
		.gridlock .row [class*="desktop-push-"] { margin-left: 1.0416666666666667%; margin-right: 1.0416666666666667%; }
		
		.gridlock .row .tablet-1  { width: 10.416666666667%; }
		.gridlock .row .tablet-2  { width: 22.916666666667%; }
		.gridlock .row .tablet-3  { width: 35.416666666667%; }
		.gridlock .row .tablet-4  { width: 47.916666666667%; }
		.gridlock .row .tablet-5 { width: 60.416666666667%; }
		.gridlock .row .tablet-6 { width: 72.916666666667%; }
		.gridlock .row .tablet-7 { width: 85.416666666667%; }
		.gridlock .row .tablet-8 { width: 97.916666666667%; }
		
		/* Push Cells */
		.gridlock .row .tablet-push-1  { margin-left: 13.54166666666667%; }
		.gridlock .row .tablet-push-2  { margin-left: 26.04166666666667%; }
		.gridlock .row .tablet-push-3  { margin-left: 38.54166666666667%; }
		.gridlock .row .tablet-push-4  { margin-left: 51.04166666666667%; }
		.gridlock .row .tablet-push-5 { margin-left: 63.54166666666667%; }
		.gridlock .row .tablet-push-6 { margin-left: 76.04166666666667%; }
		.gridlock .row .tablet-push-7 { margin-left: 88.54166666666667%; }
		
		/* !Generic, fractions */
		.gridlock .row .tablet-third { width: 31.25%; }
		.gridlock .row .tablet-half { width: 47.9166666666666667%; }
		.gridlock .row .tablet-full { width: 97.9166666666666667%; }
		
		.gridlock .row .tablet-push-third { margin-left: 34.375%; }
		.gridlock .row .tablet-push-half { margin-left: 51.0416666666666667%; }
	}
	
	/* !Mobile, 3 column, 300 + 480 (max 740) */
	@media screen and (max-width: 740px) {
		.gridlock .row [class*="desktop-push-"], 
		.gridlock .row [class*="tablet-push-"] { margin-left: 1.0416666666666667%; margin-right: 1.0416666666666667%; }
		
		.gridlock .row .mobile-1 { width: 31.25%; }
		.gridlock .row .mobile-2 { width: 64.5833333333333333%; }
		.gridlock .row .mobile-3 { width: 97.9166666666666667%; }
		
		/* Push Cells */
		.gridlock .row .mobile-push-1 { margin-left: 34.375%; }
		.gridlock .row .mobile-push-2 { margin-left: 67.7083333333334%; }
		
		/* !Generic, fractions */
		.gridlock .row .mobile-third { width: 31.25%; }
		.gridlock .row .mobile-half { width: 47.9166666666666667%; }
		.gridlock .row .mobile-full { width: 97.9166666666666667%; }
		
		.gridlock .row .mobile-push-third { margin-left: 34.375%; }
		.gridlock .row .mobile-push-half { margin-left: 51.0416666666666667%; }
	}
	
	/* !Mobile - Min, 300 (max 500) */
	@media screen and (max-width: 500px) {
		.gridlock .row .min-full { width: 97.9166666666666667%; }
	}