﻿/*
Page
*/

.can {
    border: 1px solid rgba(50, 50, 82, 0.26);
    background-color: #E0E0E0;
}

body {
    font-family: Lato;
    font-size: 0.75em;
    margin: 0px;
    padding: 0px;
    /*    background: url("../imgs/cubes.png");
    background-repeat: repeat;*/
}

a {
    text-decoration: none;
}

#topLine {
    background-color: #038fc2;
    height: 28px;
    color: white;
}

#navContainer {
    height: 30px;
    background: #038fc2;
    vertical-align: middle;
    color: white;
}

#logo {
    padding: 5px 0px 5px 0px;
    margin-left: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

#header {
    width: 100%;
}

#status {
    float: right;
    margin-top: -28px;
    margin-right: 10px;
}

.dashboardLink {
    margin-right: 20px;
}

.pcOuter {
    height: 400px;
    margin-top: 10px;
}

div.view > .pcMenu {
    margin-top: 10px;
}

i {
    margin-left: 5px;
}

i:hover {
    color: red;
}

.pcMenu {
    float: right;
}

    .pcMenu > i:hover {
        cursor: pointer;
        color: red;
    }

    .pcMenu > span {
        /*margin-left: 2px;*/
        margin-right: 2px;
        padding-left: 6px;
        padding-right: 6px;
        cursor: pointer;
        vertical-align: middle;
    }

        .pcMenu > span:hover {
            border-radius: 2px;
            background-color: #F0F0F0;
            color: #038fc2;
        }

.settings {
    float: left;
    background-color: #038fc2;
}

    .settings closed {
        width: 0%;
    }

    .settings open {
        width: 50%;
    }

#views {
    background: #fefefe; /* Old browsers */
    background: -moz-linear-gradient(top, #fefefe 0%, #f1f1f1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fefefe 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fefefe 0%,#f1f1f1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fefefe 0%,#f1f1f1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fefefe 0%,#f1f1f1 100%); /* W3C */
    height: 40px;
    padding-left: 35px;
    padding-top: 5px;
}

.view {
    height: 20px;
}

    .view ul {
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        display: -moz-box;
        -moz-box-orient: horizontal;
        display: box;
        -moz-box-orient: horizontal;
        list-style: none;
        padding: 0px;
        cursor: pointer;
    }

.workspace {
    margin: 20px 20px 20px 10px;
}

/*
Sorta tabs
*/
.sortaTab {
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid #F0F0F0;
    padding: 5px 5px;
    font-size: 1.0em;
    font-weight: bold;
    background: #038fc2;
    color: white;
    margin-bottom: 5px;
}

.funcContainer {
    background-color: #F0F0F0;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    padding: 5px 0px 5px 10px;
    margin-bottom: 5px;
}

.panel {
    border: 1px solid #ccc;
    border-radius: 2px 2px 0px 0px;
    padding: 15px 15px 15px 15px;
}

.panelB {
    border: 1px solid #ccc;
    border-radius: 2px 2px 2px 2px;
    padding: 15px 15px 15px 15px;
}

.sortaTabContent {
    padding: 3px;
}

/*
Tables
*/

th {
    text-align: left;
}

.twidth0 {
    width: 1%;
}

/* Guessing this is where LESS comes in... */
.twidth1 {
    width: 20%;
}

.twidth2 {
    width: 40%;
}

.twidth3 {
    width: 60%;
}

.twidth4 {
    width: 80%;
}

.twidthall {
    width: 99%;
}

.tabularWrapper {
    margin-left: 1.04167%;
    padding: 3px;
    min-height: 350px;
    max-height: 350px;
    overflow: scroll;
    clear: left;
}

    .tabularWrapper a {
        cursor: pointer;
    }

    .tabularWrapper.fullPage {
        max-height: 100%;
        overflow: auto;
    }

.tabularMenu.open {
    background-color: #000;
    color: white;
    width: 100%;
    padding: 5px;
    height: 100%;
}

.tabularMenu.close {
    height: 0%;
}

.search {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 2px 2px 2px 2px;
}

/* background-image: url("../imgs/glyphicons_027_search.png"); */

table.results {
    border-collapse: collapse;
    width: 99%;
    table-layout: fixed;
}

    table.results thead tr th {
        background-color: #f2f6ff;
        padding: 3px;
        border-bottom: 1px solid #aaa;
    }

    table.results tbody tr:hover {
        background-color: #ffeeee;
    }

    table.results tbody tr td {
        padding: 4px 0px 0px 0px;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
    }

button {
    border-radius: 3px 3px 3px 3px;
    background-color: #ccc;
    border: 0px;
}

    button:hover {
        background-color: #aaa;
    }

/*
Form
*/
/*.formRow {
    float: left;
    margin-left: 1.0416666666666667%;
    margin-right: 1.0416666666666667%;
    width: 99%;
}

    .formRow:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        line-height: 0;
        visibility: hidden;
    }*/

form div {
    margin: 7px;    
}

.form-colHalf {
    float: left;
    margin-left: 1.0416666666666667%;
    margin-right: 1.0416666666666667%;
    padding-bottom: 10px;
}

label {
    display: inline-block;
    margin-left: 0;
    min-width: 75px;
}

form.horiz ~ label {
    margin-left: 10px;
}

.input[type='text'] {
    margin-right: 10px;
}

button {
    background-color: #ccc;
}

/* Written by Kyle Hamilton of candpgeneration.com
   CSS3 transitions - animated dropdown menu without javascript that plays nice in IE7+, FF, CHROME, SAFARI
   The original bare bones version can be found at: http://candpgeneration.com/CSS-dropdowns/CSS3-dropdown.html
   You are free to use this code any way you like. 
   Please do not remove this comment. */

/* the main menu */
.navigation {
    margin-left: 20px;
    display: block;
    position: absolute;
    z-index: 1000;
    background: #038fc2;
}

    .navigation > ul {
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        display: -moz-box;
        -moz-box-orient: horizontal;
        display: box;
        -moz-box-orient: horizontal;
    }

    .navigation ul {
        list-style: none;
        margin: 0;
        padding: 0; /* gets rid of any inherited margins and padding */
        font-weight: normal;
        position: relative;
        z-index: 1000;
        /*width:600px;*/
    }

    .navigation > ul > li {
        position: relative;
        float: left;
        width: 100px;
        /*font-size: 15px;*/
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
    }

        .navigation > ul > li + li {
            margin-left: 1px;
        }

        .navigation > ul > li > a {
            background: #038fc2; /* Old browsers */
            background: -moz-linear-gradient(top, #5fa7bf 0%, #0291c1 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5fa7bf), color-stop(100%,#0291c1)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #5fa7bf 0%,#0291c1 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #5fa7bf 0%,#0291c1 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #5fa7bf 0%,#0291c1 100%); /* IE10+ */
            background: linear-gradient(to bottom, #5fa7bf 0%,#0291c1 100%); /* W3C */
            display: block;
            padding: 7px 14px;
            text-decoration: none;
            /*font-weight: bold;*/
            color: #fff;
            border-left: 1px solid #88BBCE;
            border-top: 1px solid #88BBCE;
            border-right: 1px solid #037FC1;
            /* make the background-color fade in on roll-over */
            /*-webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;*/
        }

            .navigation > ul > li > a:hover {
                background: #fefefe; /* grey */
                color: #038fc2; /* light grey */
            }

            .navigation > ul > li > a.current {
                background: #fefefe; /* grey */
                color: #038fc2; /* light grey */
            }

    /* the show/hide effects */
    /* the drop-down box */
    .navigation ul ul {
        /* background-color:#e6056f;  remove. this is for illustration purposes only */
        width: 340px; /* you need a width to accomodate tertiary menus */
        position: absolute;
        z-index: 100;
        height: 0;
        overflow: hidden;
        -webkit-transition: height 0.3s ease-in;
        -moz-transition: height 0.3s ease-in;
        -o-transition: height 0.3s ease-in;
        -ms-transition: height 0.3s ease-in;
        transition: height 0.3s ease-in;
    }

    /* don't display tertiary box yet */
    .navigation > ul > li:hover ul ul, .navigation > ul > li > a:hover ul ul {
        height: 0;
    }

    /* tertiary drop-down box */
    .navigation ul ul ul {
        left: 170px;
        width: 170px;
    }

    .navigation > ul > li:hover ul, .navigation > ul > li > a:hover ul,
    .navigation ul ul li:hover > ul, .navigation ul ul li a:hover > ul {
        height: 220px;
    }

    /* drop-down item styles */
    .navigation ul ul li {
        background-color: #eaeaea; /* grey */
        width: 170px;
        /* make the background-color fade in on roll-over */
        -webkit-transition: background-color 0.3s ease;
        -moz-transition: background-color 0.3s ease;
        -o-transition: background-color 0.3s ease;
        -ms-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;
    }

/* unfortunate ie7 gap fix */
.ie7 .navigation ul ul li {
    margin-bottom: -3px;
}

.navigation ul ul li:hover {
    background-color: #999;
}

.navigation ul ul li a {
    display: block;
    text-decoration: none;
    margin: 0 12px;
    padding: 5px 0;
    color: #4c4c4c; /* grey */
}

/* The following six rules set the lines in between menu items.
   To make this play nice in IE, we will not be using nth-child
   but the "+" sibling slector.
*/
.navigation ul ul ul li a {
    border: none !important;
}

.navigation ul ul ul li + li a {
    border-top: 1px dotted #999 !important;
}

.navigation ul ul li + li a {
    border-top: 1px dotted #999;
}

.navigation ul ul li:hover + li a {
    border-top: 1px solid #eaeaea;
}

.navigation ul ul ul li:hover + li a {
    border: 0 !important;
}

.navigation ul ul ul li:hover + li {
    border-top: 1px solid #999 !important;
}

.navigation ul ul li a:hover, .navigation ul ul li:hover > a {
    color: #ffffff; /* white */
}

/*
Sprites
*/
.iconSettings {
    background: url('imgs/glyphicons-halflings.png') no-repeat -361px -145px;
    width: 12px;
    height: 13px;
}

.iconRefresh {
    background: url('imgs/glyphicons-halflings.png') no-repeat -241px -25px;
    width: 12px;
    height: 13px;
}

.iconDelete {
    background: url('imgs/glyphicons-halflings.png') no-repeat -241px -25px;
    width: 12px;
    height: 13px;
}

.iconAdd {
    background: url('imgs/glyphicons-halflings.png') no-repeat -409px -98px;
    width: 11px;
    height: 12px;
}

.iconCalendar {
    background: url('imgs/glyphicons-halflings.png') no-repeat -193px -121px;
    width: 11px;
    height: 13px;
}

.iconEye {
    background: url('imgs/glyphicons-halflings.png') no-repeat -96px -122px;
    width: 14px;
    height: 11px;
}

.iconChild {
    background: url('imgs/glyphicons-halflings.png') no-repeat -145px -146px;
    width: 13px;
    height: 11px;
}

.iconFilter {
    background: url('imgs/glyphicons-halflings.png') no-repeat -145px -97px;
    width: 12px;
    height: 13px;
}

/*
    Dashboard 
*/
.dataviewContainer {
    overflow: scroll;
}

/*
    Clearfix
*/
.clear {
    clear: both;
}

/*
    Misc
*/
.right {
    float: right;
}

.left {
    float: left;
}

.margin-T20 {
    margin-top: 20px;
}

/*
    Paginate
 */
.paginate {
    margin-top: 5px;
}

    .paginate a.page-link {
        margin: 0px 2px 0px 2px;
        padding: 2px;
        border-radius: 2px 2px 2px 2px;
        background-color: #F0F0F0;
    }

        .paginate a.page-link:hover {
            background-color: #038fc2;
        }

    .paginate span.current {
        margin: 0px 2px 0px 2px;
        padding: 2px;
        border-radius: 2px 2px 2px 2px;
        background-color: #038fc2;
        color: white;
    }

/*
    Transitions
*/
.box {
    margin-top: 10px;
    color: black;
}

.box-show-setup, .box-hide-setup {
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.box-show-setup {
    opacity: 0;
    height: 0;
}

    .box-show-setup.box-show-start {
        opacity: 1;
        height: 100px;
    }

.box-hide-setup {
    opacity: 1;
    height: 0;
}

    .box-hide-setup.box-hide-start {
        opacity: 0;
        height: 100px;
    }

/*
    Typeahead
*/
.typeahead ul {
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    list-style: none outside none;
    padding: 2px 2px 2px 4px;
    text-align: left;
    width: 250px;
    -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 82, 0.26);
    -moz-box-shadow: 2px 2px 8px rgba(50, 50, 82, 0.26);
    box-shadow: 2px 2px 8px rgba(50, 50, 82, 0.26);
}

.typeahead li {
    list-style: none;
    margin: 0px;
    cursor: pointer;
}

.typeahead .results {
    /*width: 100%;*/
    text-align: left;
    min-height: 24px;
    padding: 3px;
}

    .typeahead .results.active .name {
        color: #FFF;
    }

    .typeahead .results.active {
        background-color: #ccc;
    }

    .typeahead .results .name {
        font-size: 14px;
        line-height: 24px;
    }

/*
Dialog
*/
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalShow {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 50%;
    position: relative;
    margin: 5% auto;
    /*padding: 5px 20px 13px 20px;*/
    border-radius: 3px;
    background: #fff;
}

.modalDialog .modalHeader {
    width: 100%;
    height: 25px;
    padding: 5px 20px 13px 20px;
    font-size: 1.2em;
    color: #aaa;
}

.modalDialog .modalBody {
    padding: 5px 10px 13px 20px;
}

.modalDialog .modalFooter {
    padding: 5px 10px 13px 20px;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    cursor: pointer;
}

    .close:hover {
        background: #00d9ff;
    }

.animate-show, 
.animate-hide
{ 
    -webkit-transition: 450ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -moz-transition: 450ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -ms-transition: 450ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -o-transition: 450ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    transition: 450ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    display: block;
} 

.animate-show.animate-show-active {
    opacity: 1;
    /*left: 0px;*/
}

.animate-hide.animate-hide-active {
    opacity: 0;
    /*top: -30px;*/
}

/*
    Survey
*/
.question {
    width: 100%;
    overflow: hidden;
}
    /*.question input {
        width: 50%;
    }*/

    .question select {
        width: 50%;
    }

    .question .menu {
        float: right;
    }

    .question:hover {
        background-color: #eee;
        cursor: pointer;
    }   

.questionInput {
    float: left;
    font-weight: bold;
    width: 100%;
    margin: 5px;
}

.questionInput > label {
    width: 100px;
}

.questionAdd {
    margin: 15px;
}

.questionOpts {
    width: 100px;
}

.questionOpt {
    margin: 5px;
}

.questionOptContainer {
    overflow: hidden;
    margin-top: 10px;
}

.optChoiceDesign {
    border: 1px solid #999;
    background-color: #fff;
}

