﻿<div class="questionOptContainer" ng-controller="SurveyChoiceCtrl">
    <div class="questionOpts left">
        Options:
    </div>
    <div class="left">
        <div class="questionopt" ng-repeat="option in questionCopy.Options">
            <span><input ng-disabled="true" type="radio" ng-model="option.Value" value="option.Name" /></span>
            <span><input class="optChoiceDesign" type="text" ng-model="option.Name" /></span><br />
        </div>
    </div>
</div>