﻿<!-- method modal -->
<div class="modal-header">
    <button type="button" class="close" ng-click="close(false)">x</button>
    <h4 id="modalHeader" data-i18n="edit_method_title"></h4>
</div>
<div class="modal-body">
    <div id="methodContent">
        <!-- TODO --> 
        <!-- Fix the fact that the model dialog seems to break the codemirror directive -->
        <textarea ui-codemirror="{theme:'monokai'}" ng-model="form"></textarea>
        <!--<pre>{{form}}</pre>-->
    </div>
</div>
<div class="modal-footer">
    <button ng-click="close(false)" class="btn">Cancel</button>
    <button ng-click="close(true)" class="btn btn-primary">Ok</button>
</div>
