﻿<!-- method modal -->
<form>
    <div id="methodContent">
        <div class="row" ng-repeat="field in form.Fields | filter:field.Display">
            <div ng-switch on="field.FriendlyType">
                <div ng-switch-when="String">
                    <div>
                        <label>{{field.Label}}</label></div>
                    <div>
                        <input type="text" value="{{field.Value}}" ng-model="field.Value" ng-disable="field.ReadOnly" />
                    </div>
                </div>
                <div ng-switch-when="Date">
                    <div>
                        <label>{{field.Label}}</label></div>
                    <div>
                        <input type="text" value="{{field.Value}}" ng-model="field.Value">
                    </div>
                </div>
                <div ng-switch-when="Enumeration">
                    <div>
                        <label>{{field.Label}}</label></div>
                    <div>
                        <select ng-model="field.Value" ng-options="enum.Label as enum.Label for enum in field.Enum.Options"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
