﻿<div id="filterModalContent">
    <ng-form>
        <div ng-show="filters.length == 0">No filters.</div>
        <div style="clear:both" ng-show="filters.length>0" ng-repeat="filter in filters">
            <!--<div>field {{filter.field}}, filter: {{filter.filter}}, value: {{filter.value}}</div>-->
            <div style="float: left;">
                <select ng-model="filter.field" ng-options="o.name for o in recordDescriptor.fields"></select>
            </div>
            <div style="float: left;">
                <select ng-model="filter.filter" ng-options="value for value in availFilterTypes(filter)"></select>
            </div>
            <div style="float: left;">
                <input ng-model="filter.value" required />
            </div>
        </div>
        <div><a ng-click="addNewFilter()" style="cursor: pointer">+</a></div>
    </ng-form>
</div>

