﻿<!-- method modal -->
<div class="modal-header">
    <button type="button" class="close" ng-click="close(false)">x</button>
    <h4 id="modalHeader">{{form.FormDefinition.Name}}</h4>
</div>
<div class="modal-body">
    <div id="methodContent">
        <div class="row" ng-repeat="field in form.Fields | filter:field.Display">
            <div ng-switch on="field.FriendlyType">
                <div ng-switch-when="String">
                    <div class="span4">{{field.Label}}</div>
                    <div class="span4">
                        <input type="text" value="{{field.Value}}" ng-model="field.Value" ng-disable="field.ReadOnly" />
                    </div>
                </div>
                <div ng-switch-when="Date">
                    <div class="span4">{{field.Label}}</div>
                    <div class="span4">
                        <p>
                            <input type="text" value="{{field.Value}}" ng-model="field.Value"></p>
                    </div>
                </div>
                <div ng-switch-when="Enumeration">
                    <div class="span4">{{field.Label}}</div>
                    <div class="span4">
                        <select ng-model="field.Value" ng-options="enum.Label as enum.Label for enum in field.Enum.Options"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="close(false)" class="btn">Cancel</button>
    <button ng-click="close(true)" class="btn btn-primary">Ok</button>
</div>
