﻿<form>
    <!-- settings modal -->
    <div id="filterModalContent">
        <ul class="nav">
            <li>Display</li>
        </ul>
        <div>
            <input type="date" ng-model="settings.AsAtDate" />
        </div>
    </div>
</form>

