﻿<div class="row">
    <div class="desktop-4 sortaTab">
        Export
        <span class="pcMenu">
            <span ng-show="schemaSelected" ng-click="doExport()">go</span>
        </span>
    </div>
    <div class="tabularWrapper">
        <table class="results">
            <thead>
                <tr>
                    <th class="twidth0">Select</th>
                    <th class="twidth1">Schema</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="schema in items">
                    <td class="twidth2">
                        <input type="checkbox" ng-model="schema.selected" ng-change="selectSchema()" /></td>
                    <td class="twidth1">{{schema.Label}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
