﻿<div class="row">
    <div class="desktop-4 sortaTab">
        Import
        <span class="pcMenu">
            <span ng-show="schemaSelected" ng-click="doImport()">go</span>
        </span>
    </div>
    <div class="tabularWrapper">
        <table class="results">
            <thead>
                <tr>
                    <th class="twidth0">Select</th>
                    <th class="twidth1">File</th>
                    <th class="twidth1">Created</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="file in items">
                    <td class="twidth2">
                        <input type="checkbox" ng-model="file.selected" ng-change="selectSchema()" /></td>
                    <td class="twidth1">{{file.Name}}</td>
                    <td class="twidth1">{{file.Created}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
