﻿<div class="workspace">
    <div class="row">
        <div class="desktop-8 sortaTab" data-i18n="pgtitle_schema">
            Schema
            <span class="pcMenu">
                <span ng-click="import()">import</span>|
                <span ng-click="export()">export</span>|
                <span ng-click="addSchema()">[+]</span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="desktop-16 sortaTabContainer">
            <div class="funcContainer">
                <typeahead class="typeahead" label="Schema" items="items" term="term" search="schemaSearch(term)" select="getSchema(item)">
                    <ul>
                        <li ng-repeat="item in items" typeahead-item="item" class="results">{{item.Label}}</li>
                    </ul>
                </typeahead>
            </div>
        </div>
    </div>

    <div ng-cloak class="row margin-T20" id="admContainer" ng-show="isEditingSchema" ng-animate="'animate'">
        <div class="desktop-6">
            <div class="sortaTab" data-i18n="title_schemadetails">
                Details
            </div>
            <div class="sortaTabContainer clear">
                <div>
                    <div class="funcContainer">
                        <form id="schemaEditForm">
                            <table class="marginBottom20">
                                <tbody>
                                    <tr>
                                        <td>
                                            <span data-i18n="label_itemtypename">Name:</span></td>
                                        <td>
                                            <span>{{schema.Label}}</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <button class="btn btn-primary btn-mini" id="Button1" ng-click="save()">Ok</button>
                                            <button class="btn btn-mini" id="Button2" ng-click="reset()">Cancel</button>
                                            <button class="btn btn-info btn-mini" id="Button3" ng-click="addField()" ng-disabled="isEditingSchemaDetails">Add Field</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>

                <div class="tabularWrapper fullPage">
                    <table class="results">
                        <thead>
                            <tr>
                                <th class="twidth2">Field Name</th>
                                <th class="twidth2">Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fieldDescriptor in schema.FieldDescriptors" ng-click="selectField(fieldDescriptor)">
                                <td>{{fieldDescriptor.Name}}</td>
                                <td>{{fieldDescriptor.FriendlyType}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="desktop-10">
            <div ng-show="isEditingFields" ng-animate="'animate'" class="panelB">
                <form name="fields">
                    <div>
                        <label for="fieldName" data-i18n="label_fldname"></label>
                        <input type="text" ng-model="currentFieldDescriptor.Name" ng-disabled="isEditingFields==2" />
                        <span ng-show="dupName">Name is duplicate... thats bad.</span>
                    </div>
                    <div>
                        <label for="fieldLabel" data-i18n="label_fldlabel"></label>
                        <input type="text" ng-model="currentFieldDescriptor.Label" />
                    </div>
                    <div>
                        <label for="fieldType" data-i18n="label_fldtype"></label>
                        <select name="fieldType" ng-disabled="isEditingFields==2" ng-model="currentFieldDescriptor.FriendlyType" 
                            ng-options="type.FriendlyTypeName as type.FriendlyTypeName for type in fieldTypes">
                        </select>
                    </div>
                    <span ng-include="editorUrl" />
                    <div>
                        <button ng-click="updateFieldDef()">Ok</button>
                        <button ng-click="resetEditable()">Cancel</button>
                    </div>
                </form>
            </div>

            <div ng-show="isEditingSchemaDetails" ng-animate="'animate'" class="panelB">
                <form name="schemaDetails">
                    <div>
                        <label for="fieldName" data-i18n="label_schemaname"></label>
                        <input type="text" placeholder="name" ng-model="schema.Name" ng-enabled="!isEditingSchemaDetails" required />
                        <span ng-show="dupName">Schema name is duplicate... thats bad.</span>
                    </div>
                    <div>
                        <label for="fieldName" data-i18n="label_schemalabel"></label>
                        <input type="text" placeholder="label" ng-model="schema.Label" ng-enabled="!isEditingSchemaDetails" required />
                    </div>
                    <div>
                        <label for="fieldName" data-i18n="label_schemaactive"></label>
                        <input type="checkbox" ng-model="schema.IsActive" />
                    </div>
                    <div>
                        <button ng-click="closeSchemaDetails()" ng-disabled="!schemaDetails.$valid">Ok</button>
                        <button ng-click="cancelSchemaDetails()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div ng-cloak ng-show="isExporting" ng-include="'/partials/schema/export.html'" />
    <div ng-cloak ng-show="isImporting" ng-include="'/partials/schema/import.html'" />
</div>

