﻿<link rel="stylesheet" href="style/dropdowns.css">

<div class="workspace">
    <div class="row">
        <div class="desktop-8 sortaTab" data-i18n="pgtitle_survey">
            Survey
            <span class="pcMenu">
                <i class=" icon-plus-sign" ng-click="addSurvey()"></i>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="desktop-16 sortaTabContainer">
            <div class="funcContainer">
                <typeahead class="typeahead" label="Form" items="items" term="term" search="surveySearch(term)" select="getSurvey(item)">
                    <ul>
                        <li ng-repeat="item in items" typeahead-item="item" class="results">{{item.Name}}</li>
                    </ul>
                </typeahead>
            </div>
        </div>
    </div>

    <div ng-cloak class="row margin-T20" id="surveyContainer" ng-show="isEditingSurvey" ng-animate="'animate'">
        <div class="desktop-8">
            <div class="sortaTab" data-i18n="title_schemadetails">
                <input type="text" ng-model="form.Name" />
                <span class="pcMenu">
                    <i class="icon-ok-sign" ng-click="save()" title="save the survey" ></i>
                </span>
            </div>
            <!-- questions -->
            <div class="question" ng-repeat="question in form.Questions">
                <!-- view -->
                <div ng-show="!question.isEditing" class="sortaTabContainer clear">
                    <i class="icon-edit right" ng-click="edit(question, false)" title="edit the question"></i>
                    <i class="icon-remove-sign right" ng-click="remove(question)" title="disable the question"></i>
                    <div class="questionTitle">{{question.Name}}</div>
                    <div class="questionDesc">{{question.HelpText}}</div>
                </div>
                <!-- edit -->
                <div ng-show="question.isEditing" class="sortaTabContainer clear">
                    <ng-form name="qForm">
                        <div class="pcMenu">
                            <span>
                                <button ng-disabled="!qForm.$valid" ng-click="edit(question, true)" title="complete the edit">ok</button>
                                <button ng-click="cancel(question)" title="canel this edit">cancel</button>
                            </span>
                        </div>
                        <div class="questionInput">
                            <label for="name">Title</label>
                            <input name="name" type="text" ng-model="question.Name" required />
                        </div>
                        <div class="questionInput">
                            <label for="desc">Help Text</label>
                            <input name="desc" type="text" ng-model="question.HelpText" />
                        </div>
                        <div class="questionInput">
                            <label for="type">Type</label>
                            <select name="type" ng-change="change(question)" ng-model="question.Type" ng-options="type for type in surveyFieldTypes" />                           
                            <div ng-include="editorUrl" />
                        </div>
                    </ng-form>
                </div>
            </div>
            <div class="questionAdd">
                <label for="add">Add:</label>
                <select name="add" ng-options="type for type in surveyFieldTypes" ng-model="selectedAddType">
                    <option value="">select an option</option>
                </select>
            </div>
        </div>
    </div>
</div>
